APP_MODE=desktop
NODE_WORKER_PATH=../video-worker/dist/index.js
LLM_API_KEY=xxx
DEMO_USER=xxx
DEMO_PASS=xxx
PRODUCT_URL=http://localhost:3000
GIT_REPO_URL=
LOCAL_REPO_PATH=
SSH_HOST=
SSH_PORT=22
SSH_USER=xxx
SSH_PRIVATE_KEY_SECRET_REF=
SSH_PASSWORD_SECRET_REF=
